# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python eol=lf
*.toml text eol=lf
*.cfg text eol=lf

# Frontend
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Scripts & Configs
*.sh text eol=lf
Makefile text eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
